{include file=comm/head.html}
<div class="bg-white py-5 know-us">
  <div class="container">
    <h1>Get to know us</h1>
    <div class="line"></div>
    <div class="list">
      <ul>
        <li>
          <img src="/static/images/about/DM_20240614021233_001.WEBP" />
          <h2>Business Philosophy</h2>
          <p>Market determines future, quality determines survival, service determiAnes image and rise.
          </p>
        </li>
        <li>
          <img src="/static/images/about/DM_20240614021233_002.WEBP" />
          <h2>Our Mission</h2>
          <p>High quality, civilization, efficiency, low consumption. Control the quality of our equipment by
            developing.</p>
        </li>
        <li>
          <img src="/static/images/about/DM_20240614021233_003.WEBP" />
          <h2>Enterprise Tenet</h2>
          <p>Staff as the core, management as the basis, customers as the center, excellence as the goal.</p>
        </li>
        <li>
          <img src="/static/images/about/DM_20240614021233_004.WEBP" />
          <h2>Business Concept</h2>
          <p> Customer first, Service first.
            Talent people-oriented, focus on training.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container pages">
  <h2 class="text-center my-4 fs-sm-28 fs-24"><!-- {content:title} --> </h2>
  <div class="content">{content:content}</div>
</div>
{include file=comm/top.html}

{include file=comm/foot.html}