{include file=comm/head.html}

<!-- 幻灯片 -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    {pboot:slide num=5 gid=1}
    <div class="swiper-slide">
      {pboot:if([slide:link] != '')}
      <a href="[slide:link]">
        <img src="[slide:src]" class="d-block w-100 slideshow">
      </a>
      {else}
      <img src="[slide:src]" class="d-block w-100 slideshow">
      {/pboot:if}
      <div class="container">
        <div class="position-absolute text-light" style="top:30%;">
          <h1 class="fs-20 fs-sm-32 wow slideInUp">[slide:title]</h1>
          <h4 class="fs-14 fs-sm-20 wow slideInUp">[slide:subtitle]</h4>
        </div>
      </div>
    </div>
    {/pboot:slide}
  </div>
  <div class="swiper-button-prev d-none d-md-block"></div><!--左箭头-->
  <div class="swiper-button-next d-none d-md-block"></div><!--右箭头-->
  <div class="swiper-pagination"></div>
</div>
<!--Start Your Turnkey Solutions-->
<div class="bg-white py-5 servolines">
  <div class="container">
    <div class="row">
      <div class="col col-6">
        <h1>Start Your Turnkey Solutions</h1>
        <p>Provide you with turnkey projects for the complete solution from<span> A</span> to <span> Z</span>
          From water treatment and blowing to filling, labeling, and packing, through palletizing, we have solutions
          designed to meet any need your business may have.</p>
        <div class="action">
          <span>
            <a href="/?contact/" class="start">Start Now</a>
          </span>
          <span>
            <a href="/?contact/" class="contact">Contact Us</a>
          </span>
        </div>
      </div>
      <div class="col col-6">
        <div class="list">
          <ul>
            <li>
              <img src="/static/images/start/DM_20240614005349_001.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_002.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_003.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_004.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_005.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_006.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_007.WEBP" />
              <p>Water</p>
            </li>
            <li>
              <img src="/static/images/start/DM_20240614005349_008.WEBP" />
              <p>Water</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Production Units-->
<div class="bg-white py-5 production-units">
  <div class="container">
    <h2>Production Units</h2>
    <p>The highest quality for each production unit. You can customize your line easily</p>
    <div class="pic-list">
      <ul>
        <li>
          <img src="/static/images/units/DM_20240614005720_001.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_002.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_001.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_002.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_003.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_004.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_005.WEBP" />
        </li>
        <li>
          <img src="/static/images/units/DM_20240614005720_006.WEBP" />
        </li>
      </ul>
    </div>
  </div>
</div>
<!--Servolines beyond tommorow-->
<div class="bg-white py-5 servolines-beyond">
  <div class="container">
    <div class="row">
      <div class="col col-6">
        <h1>Servolines beyond tommorow</h1>
        <div class="des">
          <p>According to our customers and different markets, Servolines come up with three categories. Each category
            meets
            different customers and markets requirement. In any category, we still focus on first quality and developing
            our
            machines and technology.</p>
          <p><img src="/static/images/tommorow/DM_20240614005847_004.WEBP" /></p>
        </div>
      </div>
      <div class="col col-6">
        <div class="hearder">
          <ul>
            <li>
              <img src="/static/images/tommorow/DM_20240614005847_001.WEBP" />
            </li>
            <li>
              <img src="/static/images/tommorow/DM_20240614005847_002.WEBP" />
            </li>
            <li>
              <img src="/static/images/tommorow/DM_20240614005847_003.WEBP" />
            </li>
          </ul>
        </div>
        <div class="des">
          <h2>Servolines in the field</h2>
          <p>Our experienced team is made up of water industry, process technologists, engineers, and many other
            specialists – who know exactly what is important to water factories all over the world. This is why the
            Servolines team works with unfailing motivation to offer you a full-service package.</p>
        </div>
        <div>
          <h3>They Trust Us</h3>
          <div id="feature2" class="feature2">
            <ul class="feature2-list">
              <li><img src="/static/images/tommorow2/DM_20240614010040_001.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_002.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_003.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_004.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_005.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_006.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_007.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_008.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_009.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_010.WEBP" /></li>
            </ul>
          </div>
          <div id="feature3" class="feature3">
            <ul class="feature2-list">
              <li><img src="/static/images/tommorow2/DM_20240614010040_011.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_012.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_013.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_014.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_015.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_016.WEBP" /></li>
              <li><img src="/static/images/tommorow2/DM_20240614010040_017.WEBP" /></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Our Partners-->
<div class="bg-white py-5 our-partners">
  <div class="container">
    <h1>Our Partners</h1>
    <div id="feature" class="feature">
      <ul class="feature-list">
        <li><img src="/static/images/partners/DM_20240614010040_000.WEBP" /></li>
        <li><img src="/static/images/partners/DM_20240614010140_001.WEBP" /></li>
        <li><img src="/static/images/partners/DM_20240614010140_002.WEBP" /></li>
        <li><img src="/static/images/partners/DM_20240614010140_003.WEBP" /></li>
        <li><img src="/static/images/partners/DM_20240614010140_004.WEBP" /></li>
        <li><img src="/static/images/partners/DM_20240614010140_005.WEBP" /></li>
        <li><img src="/static/images/partners/DM_20240614010140_006.WEBP" /></li>
      </ul>
    </div>
    <div class="des">
      <p>All our machines are made with the best and highest configuration quality.</p>
      <p>Most of the parts are imported from the biggest companies’ brands in the world.</p>
    </div>
  </div>
</div>
<!--3-IN-1 New Filling Machine-->
<div class="bg-white py-5 new-filling-machine">
  <div class="container">
    <div class="row">
      <div class="col col-6">
        <div class="left">
          <h1>3-IN-1 New Filling Machine</h1>
          <p>Provide you with turnkey projects for the complete solution from <span>A</span> to <span>Z</span>
            From water treatment and blowing to filling, labeling, and packing, through palletizing, we have solutions
            designed to meet any need your business may have.</p>
        </div>
      </div>
      <div class="col col-6">
        <div class="machine-list">
          <ul>
            <li>
              <img src="/static/images/partners/DM_20240614010319_001.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_002.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_003.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_004.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_005.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_005.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_005.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
            <li>
              <img src="/static/images/partners/DM_20240614010319_005.WEBP" />
              <h5>SVW8-8-3</h5>
              <p>3000BPH</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Reason for Choosing Us-->
<div class="bg-white py-5 reason">
  <div class="container">
    <h1>Reason for Choosing Us</h1>
    <div class="row">
      <div class="col">
        <div class="img"><img src="/static/images/reason/DM_20240614010354_001.WEBP" />
        </div>
        <h2>Time Saving</h2>
        <p>Our professional team will provide you the best turnkey solution for your project</p>
      </div>
      <div class="col">
        <div class="img"><img src="/static/images/reason/DM_20240614010354_002.WEBP" />
        </div>
        <h2>We Care</h2>
        <p>We provide you long-time technology supports and aftersale services.</p>
      </div>
      <div class="col">
        <div class="img"><img src="/static/images/reason/DM_20240614010354_003.WEBP" />
        </div>
        <h2>A2Z One Place</h2>
        <p>All equipment you need in one place, from injection machines up to packing machines</p>
      </div>
    </div>
  </div>
</div>
<!--产品推荐-->
<!-- 
<div class="bg-white py-5">
  <div class="container">

    {pboot:sort scode=5}
    <div class="text-center fs-26 fs-sm-28 text-success wow fadeInDown">[sort:name]</div>
    <div class="text-center fs-14 fs-sm-16 mb-4 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -
    </div>
    {/pboot:sort}

    <div class="row">
      {pboot:list scode=5 num=4 order=date}
      <div class="col-12 col-sm-6 col-lg-3 wow zoomIn" data-wow-delay="[list:i]00ms" data-wow-duration="1s">
        <div class="card">
          <div class="card-img-150"><a href="[list:link]"><img class="card-img-top" src="[list:ico]"
                alt="[list:title]"></a></div>
          <div class="card-body">
            <h5 class="card-title"><a href="[list:link]">[list:title lencn=12]</a></h5>
            <p class="card-text">
              {pboot:if([list:istop]==1)}
              <span class="badge badge-danger">置顶</span>
              {/pboot:if}
              {pboot:if([list:isrecommend]==1)}
              <span class="badge badge-warning">推荐</span>
              {/pboot:if}
              {pboot:if([list:isheadline]==1)}
              <span class="badge badge-info">头条</span>
              {/pboot:if}
              [list:content drophtml=1 dropblank=1 len=50]
            </p>
          </div>
        </div>
      </div>
      {/pboot:list}
    </div>
    {pboot:sort scode=5}
    <div class="text-center mt-4 wow fadeInDown" data-wow-delay="1s">
      <h4><a href="[sort:link]" class="text-secondary fs-14 fs-sm-16">See more</a></h4>
    </div>
    {/pboot:sort}
  </div>
</div>
-->

<!-- 关于我们 -->
<!--
<div class="bg-white py-5">
  <div class="container">
    {pboot:sort scode=1}
    <div class="text-center fs-26 fs-sm-28 text-info wow fadeInDown">[sort:name]</div>
    <div class="text-center fs-14 fs-sm-16 mb-4 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -
    </div>
    {/pboot:sort}

    {pboot:content id=1}
    <div class="row text-secondary mb-5 px-3 lh-2 wow fadeInDown" data-wow-delay="500ms" style="text-indent:30px;">
      [content:content drophtml=1 dropblank=1 len=442 more='']
    </div>
    <div class="text-center wow fadeInDown" data-wow-delay="1s">
      <h4><a href="[content:link]" class="text-secondary fs-14 fs-sm-16">See more</a></h4>
    </div>
    {/pboot:content}
  </div>
</div>
 -->

<!-- 新闻动态 -->
<!-- 
<div class="bg-white py-5">
  <div class="container">
    {pboot:sort scode=2}
    <div class="text-center fs-26 fs-sm-28 text-warning wow fadeInDown">[sort:name]</div>
    <div class="text-center fs-14 fs-sm-16 mb-5 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -
    </div>
    {/pboot:sort}

    <div class="row">
      {pboot:list scode=2 num=4 order=date}
      <div class="col-12 col-lg-6 mb-3 wow fadeInUp" data-wow-delay="500ms">
        <div class="media mb-3">
          <div class="media-body">
            <h5><a href="[list:link]" title="[list:title]">[list:title lencn=20]</a></h5>
            <p><a href="[list:link]" class="text-secondary lh-2">[list:content drophtml=1 dropblank=1 lencn=60]
                [list:date style=Y-m-d]</a></p>
          </div>
        </div>
      </div>
      {/pboot:list}
    </div>
    {pboot:sort scode=2}
    <div class="text-center wow fadeInDown" data-wow-delay="1s">
      <h4><a href="[sort:link]" class="text-secondary fs-14 fs-sm-16">See more</a></h4>
    </div>
    {/pboot:sort}
  </div>
</div>
-->


<script src="{pboot:sitetplpath}/swiper-4.3.5/js/swiper.min.js"></script>
<script>
  var mySwiper = new Swiper('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    speed: 1500,
    autoplay: {
      delay: 3500,
      disableOnInteraction: false
    },


    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

  })        
</script>
<script type="text/javascript">
  $(function () {
    $('#feature').scrollForever({ delayTime: 30 });
  });
  $(function () {
    $('#feature2').scrollForever({ delayTime: 30 });
  })

</script>

{include file=comm/foot-home.html}