{include file=comm/head.html}

{include file=comm/top.html}
<style>
  .el-row {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .el-col {
    border-radius: 4px;
  }

  .bg-purple-dark {
    background: #99a9bf;
  }

  .bg-purple {
    background: #d3dce6;
  }

  .bg-purple-light {
    background: #e5e9f2;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }

  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
<div class="container pages">
  {include file=comm/position.html}

  {pboot:if({page:rows}>0)}
  <h5 class="border-bottom border-info pb-2"><i class="fa fa-sliders" aria-hidden="true"></i> Message Record</h5>
  {/pboot:if}

  <el-row>
    <el-col :span="12">
      <div class="grid-content bg-purple">111</div>
    </el-col>
    <el-col :span="12">
      <div class="grid-content bg-purple-light">222</div>
    </el-col>
  </el-row>
  <!-- 留言表单 -->
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-12 col-lg-6">
      <form class="my-4" onsubmit="return submsg(this);">
        <div class="form-group">
          <label for="contacts">Contact person</label>
          <div>
            <input type="text" name="contacts" required id="contacts" class="form-control"
              placeholder="Please enter the contact person">
          </div>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile phone</label>
          <div>
            <input type="text" name="mobile" required id="mobile" class="form-control"
              placeholder="Please enter your phone number">
          </div>
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          <div>
            <textarea name="content" id="content" class="form-control"
              placeholder="Please enter the message content"></textarea>
          </div>
        </div>

        {pboot:if({pboot:msgcodestatus})}
        <div class="form-group">
          <label for="checkcode">Verification code</label>
          <div class="row">
            <div class="col-6">
              <input type="text" name="checkcode" required id="checkcode" class="form-control"
                placeholder="Please enter the verification code">
            </div>
            <div class="col-6">
              <img title="Click to refresh" class="codeimg" style="height:33px;" src="{pboot:checkcode}"
                onclick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);" />
            </div>
          </div>
        </div>
        {/pboot:if}

        <div class="form-group">
          <button type="submit" class="btn btn-info mb-2">Submit message</button>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>

</div>


<script>

  //ajax提交留言
  function submsg(obj) {
    var url = '{pboot:msgaction}';
    var contacts = $(obj).find("#contacts").val();
    var mobile = $(obj).find("#mobile").val();
    var content = $(obj).find("#content").val();
    var checkcode = $(obj).find("#checkcode").val();

    $.ajax({
      type: 'POST',
      url: url,
      dataType: 'json',
      data: {
        contacts: contacts,
        mobile: mobile,
        content: content,
        checkcode: checkcode
      },
      success: function (response, status) {
        if (response.code) {
          alert("Thank you for your feedback, we will contact you soon!");
          $(obj)[0].reset();
        } else {
          if (response.tourl != "") {
            if (confirm(response.data + '是否立即跳转登录？')) {
              location.href = response.tourl;
            }
          }
          $('.codeimg').click();//更新验证码
        }
      },
      error: function (xhr, status, error) {
        alert('返回数据异常！');
      }
    });
    return false;
  }
</script>


{include file=comm/foot.html}