.slideshow {
    height: 400px;
    object-fit: cover;
}
.pages .accordion .card {
  border: none;
  margin: 0;
}
.pages > .accordion > .card > .card-header {
  border: none;
  margin: 0;
  cursor: pointer;
  background: #fff;
}
.pages .accordion .card .card-header{
  border: none;
  margin: 0;
  cursor: pointer;
  background: #fff;
}
.pages .accordion .card .card-header h2 {
  padding:0;
  position: relative;
  color: #21a5e0;
  font-size: 1.5rem;
}
.pages .accordion .card .card-header h2.collapsed {
  color: #065784;
}
.pages .accordion .card .card-header h2 i {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #fff url(../images/jian.png) no-repeat right center;
  background-repeat: no-repeat;
  background-size: 80%;
  vertical-align: middle;
  margin-right: 10px;
}
.pages .accordion .card .card-header h2.collapsed i{
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #fff url(../images/jia.png) no-repeat right center;
  background-repeat: no-repeat;
  background-size: 80%;
  vertical-align: middle;
  margin-right: 10px;
}
.pages .service-wrap .heard {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pages .service-wrap .heard h1{
  color: #065784;
  font-family: "Roboto", Sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 5px;
  letter-spacing: 1.7px;
  text-align: center;
}
.pages .service-wrap .heard h5{
  color: #21a5e0;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.pages .row .text h3 {
  color: #21a5e0;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
.pages .row .text-des .container {
  text-align: justify;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.pages .row .text-des .container p {
  padding-bottom: 10px;
}
.pages .row.g-2 .text h3 {
  color: #065784;
}
div.message {
  width: 100% !important;
  background-color: transparent;
  background-image: linear-gradient(270deg, #009dd9 0%, #065784 82%);
  color: #fff;
}

div.message  .row {
  padding-top: 50px;
}
div.message  .row h1 {
  font-family: "Roboto", Sans-serif;
  font-size: 40px;
  font-weight: 400;
}
div.message  .row h3 {
  font-family: "Roboto", Sans-serif;
  font-size: 27px;
  font-weight: 400;
}
div.message  .row p {
  font-size: 16px;
}

.media {
  padding: 0;
  margin: 0;
  clear: both;
}
.media ul {
  padding: 0;
  margin: 0 auto;
  clear: both;
  display: flex;
}
.media ul li {
  display: inline-flex;
  width: 60px;
  justify-content: center;
  list-style-type: none;
}
.media ul li svg {
  fill: #fff;
}

.media ul li svg:hover {
  fill: #f4f4f4;
}

div.footer {
  color: #fff;
}
.footer .home {
  overflow: hidden;
}
.footer .home h1 {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.footer .home  h2 {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.footer .home .action {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .home .action span {
  display: inline-flex;
  width: 50%;
  overflow: hidden;
}
.footer .home .action a {
  display: inline-block;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  background-color: #55B36200;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  border-color: #fff;
  padding: 10px;
  width: 165px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.footer .home .action a:hover {
  color: #065784;
  background-color: #fff;
  border-color: #fff;
}
.footer .copyright {
  color: #fff;
  overflow: hidden;
  height: 40px;
}

.servolines {
  h1 {
    background-image: linear-gradient(to right, #8849c1, #065784, #21a5e0, #27cce6);
    -webkit-background-clip: text;
    display: inline-block;
    padding: 0;
    -webkit-text-fill-color: #00000000;
    color: #065784;
    font-family: "Roboto", Sans-serif;
    font-size: 37px;
    font-weight: 300;
    line-height: 1;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 16px !important;
    span {
      font-weight: 700 !important;
    }
  }
  .action {
    display: flex;
    span {
      display: inline-flex;
      justify-content: center;
      width: 150px;
      text-align: center;
    }
    a {
      font-size: 15px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
      color: #000;
      border-style: solid;
      border-width: 1px;
      border-color: #242424;
      border-radius: 100px;
      padding: 4px 30px;
      margin: 0 auto;
      text-align: center;
    }
    a.start {
      color: #fff;
      background-color: #242424;
    }
    a:hover {
      color: #fff;
      background-color: #065784;
    }
  }
  .list {
    padding: 0;
    margin: 0;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        width: 25%;
        text-align: center;
        overflow: hidden;
        list-style-type: none;
        p {
          padding: 0 0 10px 0;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
  img {
    max-width: 80px;
    max-height: 80px;
  }
}
.production-units {
  background-color: #f0f6f6 !important;
  h2 {
    color: #065784;
    font-family: "Roboto", Sans-serif;
    font-size: 37px;
    font-weight: 300;
  }
  p {
    color: #4d4d4d;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
  }
  .pic-list {
    padding: 30px 0 0 0;
    margin: 0;
    width: 100%;
    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
      li {
        width: 12.5%;
        text-align: center;
        list-style-type: none;
      }
    }
    img {
      max-width: 108px;
      display: inline;
    }
  }
}
.servolines-beyond {
  .hearder {
    padding: 0;
    margin: 0;
    ul{
      padding: 0;
      margin: 0;
      li {
        width: 30%;
      }
    }
  }
}