.slideshow {
    height: 400px;
    object-fit: cover;
}

.pages .accordion .card {
  border: none;
}
.pages > .accordion > .card > .card-header {
  border: none;
  margin: 0;
  cursor: pointer;
}
.pages .accordion .card .card-header{
  border: none;
  margin: 0;
  cursor: pointer;
}